.Rproj.user
.Rhistory
.RData
.Ruserdata
Hector_H2_Project.Rproj
*.RS_Store
*.DS_Store
*.zip
*.html
*/scratch/


# TODO, eventually remove the following from the gitignore file
session_info.txt
**/figs/
